[submodule "buildroot"]
    path = buildroot
    url = https://github.com/buildroot/buildroot.git
    branch = master
    ignore = dirty
[submodule "opensbi"]
    path = opensbi
    url = https://github.com/riscv-software-src/opensbi
    branch = master
    ignore = dirty
